:root {
    --color-primary: #ea0eca;
    --color-secondary: #ac11c0;

    --color-dark: #851dcf;

    --color-btn_hover: #851dcf;
}


@import url('https://fonts.cdnfonts.com/css/games');

/* font-family: 'Games', sans-serif; */
/* font-family: 'Press Start 2P', cursive;  */


* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}
html{
    font-size: 62.5%;
}

.hide {
    display: none;
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
.header  {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    min-width: 100%;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.547);
    box-shadow: 0 8px 32px 0 rgba(14, 14, 14, 0.46);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(17, 17, 17, 0.083);
    z-index: 2; 
    
}

.header__title{
    font-family: 'Games', sans-serif; 
    font-size: 3.4rem ;
    letter-spacing: 0.2rem;
    color: #f4f4f4;
}

.header__score {
    width: 30rem;
    margin: 1.2rem;
    font-size: 1.6rem;
    line-height: 70px;
    text-align: center;
    color: white;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* ------------------------------- fin header ------------------------------- */


.startScreen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    padding: 15px;
    margin: auto;
    width: 50%;
    cursor: pointer;
    letter-spacing: 5;
    font-size: 20px;
    word-spacing: 3;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #777;

    background: rgba(0, 0, 0, 0.547);
    box-shadow: 0 8px 32px 0 rgba(14, 14, 14, 0.728);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.407);
}

/* -------------------------------------------------------------------------- */
/*                                   Botones                                  */
/* -------------------------------------------------------------------------- */

button,.level button {
    min-width: 12rem;
    padding: 1.2rem;
    font-size: 1.6rem;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background: white;
    box-shadow: 0 0.4rem 0.5rem #777777a6;
    transition: 250ms;
}

 #easy{
    background: #45d843;
}
#moderate{
    background: #d8a443;
}
#difficult{
    background: #d86b43;

} 
.btn-reiniciar{
    background: #f45252;
}

.btn-reiniciar:hover, .level button:hover {
    color: white;
    transform: scale(120% ) ;
    
}


.btn-win{
    background: #d86b43;

}

/* fin botones -------------------------------------------------------------------------- */


/* Fin ventanas -------------------------------------------------------------------------- */


.containerGame {
    width: 100%;
    height: 100vh;
    background-image: url("assets/images/alone-stars-purple-background-hd-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.car,
.enemyCar {
    width: 5rem;
    height: 7rem;
    position: absolute;
    bottom: 12rem;
    background-image: url("assets/images/car.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.enemyCar {
    background-image: url("assets/images/enemy7.png");
}

.roadLines {
    width: 10px;
    height: 100px;
    position: absolute;
    background: white;
    margin-left: 195px;
    /* show line in center = (gameArea.width / 2) - (roadLines.width / 2) */
}

.gameArea {
    width: 400px;
    height: 100vh;
    background: #2d3436;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-right: 7px dashed #c8d6e5;
    border-left: 7px dashed #c8d6e5;
}



